.user-pic {
    overflow: hidden;
    border-radius: 100%;
    margin: 20px auto;
    border-left: 3px solid #ddd;
    border-right: 3px solid #ddd;
    border-top: 3px solid #9ebddf;
    border-bottom: 3px solid #9ebddf;
    transition: 0.5s;
}

.user-pic:hover {
    transform: rotate(0deg);
    transform: scale(1.1);
}

table {
    border: 1px solid black;
    width: 90%;
}

tr {
    border: 1px solid black;
}

th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

.loadingImageDiv {
    display: flex;
    justify-content: center;
}

.loadingImage {
    height: 100vh;
}