div {
    color: black;
}

img {
    width: 100%;
}

.loadingImageDiv {
    display: flex;
    justify-content: center;
}
hr {
    width: 95%;
    margin: 0 auto;
    border: 1px solid #9ebddf;
}
.loadingImage {
    height: 100vh;
}

.noUsersDiv img {
    width: 20%;
    margin-top: 80px;
}
.user-pic {
    overflow: hidden;
    border-radius: 100%;
    margin: 20px auto;
    border-left: 3px solid #ddd;
    border-right: 3px solid #ddd;
    border-top: 3px solid #9ebddf;
    border-bottom: 3px solid #9ebddf;
    transition: 0.5s;
}
main {
    background-color: #ddd;
    padding-top: 100px;
}
.card-box:hover .user-pic {
    transform: rotate(0deg);
    transform: scale(1.1);
}
.card-box {
    padding: 15px;
    background-color: #fdfdfd;
    margin: 20px 0px;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 8px 0px #d4d4d4;
    transition: 0.5s;
}

.card-box:hover {
	border: 1px solid #9ebddf;
}
input:hover::placeholder  {
    color: #9ebddf ;
}
input::placeholder  {
   text-align: center ;
}


.search {
    padding: 4px;
    background-color: #fdfdfd;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 8px 0px #d4d4d4;
    transition: 0.5s;
}

.search input {
    margin-right: 100px;
}
.search:hover {
	border: 1px solid #9ebddf;
}


a {
    text-decoration: none;
}

        
