.interviewsReports {
    text-decoration: none;
    color: black;
}
.interviewsReports:hover  {
  color: #9ebddf;
}

header {
   background-color: rgb(45, 46, 49);
    margin-bottom: 80px;
}


.btnLogOut:hover {
	border: 1px solid #9ebddf;
    color:  #9ebddf;
}
.btnLogOut {
    background-color: #fdfdfd;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 8px 0px #d4d4d4;
    transition: 0.5s;
}
.btnCandidates:hover {
	border: 1px solid #9ebddf;
    color:  #9ebddf;
}

.btnCandidates {
    background-color: #fdfdfd;
    margin: 10px 0px;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0px 0px 8px 0px #d4d4d4;
    transition: 0.5s;
}